absl-py==1.4.0
alembic==1.10.4
asttokens==2.2.1
astunparse==1.6.3
backcall==0.2.0
bertopic==0.14.1
bleach==6.0.0
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cmaes==0.9.1
colorama==0.4.6
colorlog==6.7.0
comm==0.1.3
confection==0.0.4
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
Cython==0.29.34
dask==2023.4.1
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
filelock==3.12.0
flatbuffers==23.5.9
fonttools==4.39.4
fsspec==2023.5.0
future==0.18.3
gast==0.4.0
gensim==4.3.1
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
grpcio==1.54.0
h5py==3.8.0
hdbscan==0.8.29
hpsklearn @ git+https://github.com/hyperopt/hyperopt-sklearn.git@4b3f6fde3a1ded2e71e8373d52c1b51a0239ef91
httplib2==0.22.0
huggingface-hub==0.14.1
hyperopt==0.2.7
idna==3.4
importlib-metadata==6.6.0
ipykernel==6.23.0
ipython==8.13.2
ipywidgets==8.0.6
jax==0.4.9
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-widgets==3.0.7
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
libclang==16.0.0
llvmlite==0.40.0
locket==1.0.0
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
ml-dtypes==0.1.0
mpmath==1.2.1
murmurhash==1.0.9
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
numba==0.57.0
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
optuna==3.1.1
packaging==23.1
pandas==2.0.1
parso==0.8.3
partd==1.4.0
pathy==0.10.1
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
plotly==5.14.1
praw==7.7.0
prawcore==2.3.0
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==4.23.0
psutil==5.9.5
psycopg2==2.9.6
pure-eval==0.2.2
py4j==0.10.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.7
Pygments==2.15.1
pynndescent==0.5.10
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32==306
PyYAML==6.0
pyzmq==25.0.2
regex==2023.5.5
requests==2.30.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.13
srsly==2.4.6
stack-data==0.6.2
swifter==1.3.4
sympy==1.11.1
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
thinc==8.1.10
threadpoolctl==3.1.0
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tornado==6.3.1
tqdm==4.65.0
traitlets==5.9.0
transformers==4.29.1
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
umap-learn==0.5.3
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.15
wasabi==1.1.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.4
widgetsnbextension==4.0.7
wrapt==1.14.1
zipp==3.15.0
